.container {
  display: flex;
  flex-direction: column;
  max-width: 640px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
}

.container--inline {
  display: flex;
  flex: 1;
}

.container--inline * {
  flex: 1;
}
